.idea/libraries/*
.idea/workspace.xml
*/libs/*.jar
.idea/*
target/*
*/surefire-reports/*
*.ipr
*.iws
/.gradle/8.4/checksums/checksums.lock
/.gradle/8.4/checksums/md5-checksums.bin
/.gradle/8.4/checksums/sha1-checksums.bin
/.gradle/8.4/dependencies-accessors/dependencies-accessors.lock
/.gradle/8.4/dependencies-accessors/gc.properties
/.gradle/8.4/executionHistory/executionHistory.bin
/.gradle/8.4/executionHistory/executionHistory.lock
/.gradle/8.4/fileChanges/last-build.bin
/.gradle/8.4/fileHashes/fileHashes.bin
/.gradle/8.4/fileHashes/fileHashes.lock
/.gradle/8.4/fileHashes/resourceHashesCache.bin
/.gradle/8.4/gc.properties
/.gradle/buildOutputCleanup/buildOutputCleanup.lock
/.gradle/buildOutputCleanup/cache.properties
/.gradle/buildOutputCleanup/outputFiles.bin
/.gradle/vcs-1/gc.properties
build/tmp
/build/classes/java/main/dev/snowcave/guilds/core/alliances/Alliance.class
/build/classes/java/main/dev/snowcave/guilds/core/alliances/Alliances.class
/build/classes/java/main/dev/snowcave/guilds/core/alliances/AllianceType.class
/build/classes/java/main/dev/snowcave/guilds/core/data/StorageController.class
/build/classes/java/main/dev/snowcave/guilds/core/data/StorageControllerIOException.class
/build/classes/java/main/dev/snowcave/guilds/core/guildhalls/GuildHall.class
/build/classes/java/main/dev/snowcave/guilds/core/guildhalls/GuildHallShape.class
/build/classes/java/main/dev/snowcave/guilds/core/guildhalls/GuildHallSize.class
/build/classes/java/main/dev/snowcave/guilds/core/guildhalls/GuildHallUtils.class
/build/classes/java/main/dev/snowcave/guilds/core/users/permissions/GuildPermission.class
/build/classes/java/main/dev/snowcave/guilds/core/users/Role.class
/build/classes/java/main/dev/snowcave/guilds/core/users/RoleComparator.class
/build/classes/java/main/dev/snowcave/guilds/core/users/User.class
/build/classes/java/main/dev/snowcave/guilds/core/ChunkMetadata.class
/build/classes/java/main/dev/snowcave/guilds/core/ChunkReference.class
/build/classes/java/main/dev/snowcave/guilds/core/ChunkStore.class
/build/classes/java/main/dev/snowcave/guilds/core/Guild.class
/build/classes/java/main/dev/snowcave/guilds/core/GuildBonus.class
/build/classes/java/main/dev/snowcave/guilds/core/GuildCreator.class
/build/classes/java/main/dev/snowcave/guilds/core/GuildInviteStatus.class
/build/classes/java/main/dev/snowcave/guilds/core/GuildOptions.class
/build/classes/java/main/dev/snowcave/guilds/core/GuildSymbol.class
/build/classes/java/main/dev/snowcave/guilds/core/Level.class
/build/classes/java/main/dev/snowcave/guilds/core/Outpost.class
/build/classes/java/main/dev/snowcave/guilds/interaction/GuildAura.class
/build/classes/java/main/dev/snowcave/guilds/interaction/GuildHallInteractionListener.class
/build/classes/java/main/dev/snowcave/guilds/interaction/GuildStoreListener.class
/build/classes/java/main/dev/snowcave/guilds/interaction/MonsterWard.class
/build/classes/java/main/dev/snowcave/guilds/interaction/PlayerInteractionListener.class
/build/classes/java/main/dev/snowcave/guilds/interaction/ProtectionListener.class
/build/classes/java/main/dev/snowcave/guilds/map/MapRenderer.class
/build/classes/java/main/dev/snowcave/guilds/scheduler/TaxListener.class
/build/classes/java/main/dev/snowcave/guilds/utils/conversations/Invite.class
/build/classes/java/main/dev/snowcave/guilds/utils/Chatter.class
/build/classes/java/main/dev/snowcave/guilds/utils/ChunkUtils.class
/build/classes/java/main/dev/snowcave/guilds/utils/CommandSenderUtils.class
/build/classes/java/main/dev/snowcave/guilds/utils/CommandUtils.class
/build/classes/java/main/dev/snowcave/guilds/utils/DelayedTaskScheduler$1.class
/build/classes/java/main/dev/snowcave/guilds/utils/DelayedTaskScheduler.class
/build/classes/java/main/dev/snowcave/guilds/utils/EconomyUtils.class
/build/classes/java/main/dev/snowcave/guilds/utils/EntityTypeUtils.class
/build/classes/java/main/dev/snowcave/guilds/utils/LocationUtils.class
/build/classes/java/main/dev/snowcave/guilds/utils/RepeatingTask.class
/build/classes/java/main/dev/snowcave/guilds/utils/RepeatingTaskUtils$1.class
/build/classes/java/main/dev/snowcave/guilds/utils/RepeatingTaskUtils.class
/build/classes/java/main/dev/snowcave/guilds/utils/TabCompleteUtils.class
/build/classes/java/main/dev/snowcave/guilds/Guilds.class
/build/classes/java/test/dev/snowcave/guilds/core/GuildToJSONTest.class
/build/classes/java/test/dev/snowcave/guilds/map/MapRendererTest.class
/build/classes/java/test/dev/snowcave/guilds/utils/ChunkUtilsTest.class
/build/classes/java/test/dev/snowcave/guilds/utils/TabCompleteUtilsTest.class
/build/classes/java/test/dev/snowcave/guilds/TestGuildCreator.class
/build/reports/tests/test/classes/dev.snowcave.guilds.utils.TabCompleteUtilsTest.html
/build/reports/tests/test/css/base-style.css
/build/reports/tests/test/css/style.css
/build/reports/tests/test/js/report.js
/build/reports/tests/test/packages/dev.snowcave.guilds.utils.html
/build/reports/tests/test/index.html
/build/resources/main/plugin.yml
/build/test-results/test/binary/output.bin
/build/test-results/test/binary/output.bin.idx
/build/test-results/test/binary/results.bin
/build/test-results/test/TEST-dev.snowcave.guilds.utils.TabCompleteUtilsTest.xml
/build/tmp/compileJava/previous-compilation-data.bin
/build/tmp/compileTestJava/compileTransaction/stash-dir/TabCompleteUtilsTest.class.uniqueId0
/build/tmp/compileTestJava/previous-compilation-data.bin
/build/tmp/jar/MANIFEST.MF
/build/tmp/shadowJar/MANIFEST.MF
